.root {
  pdisplay: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
  }
}

.navContainer {
  height: 62px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
}

.leftContainer {
  margin-left: 40px;
}
.middleContainer {
  text-align: center;
}
